body {
  font-family: Arial, sans-serif;
}

#fotos-origem {
  display: none;
}

#busca {
  display: block;
  margin: 20px auto;
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #0e0000;
  border-radius: 100px;

  transition: background-color 0.3s ease;
}

#busca:hover {
  background-color: #cdcfcdce;
}
h3 {
  margin-top: 33px;
  font-size: 35px;
  color: #000000;
  text-align: center;
  background-color: #6a46109f;
  padding: 12px;
  border-radius: 20px;
}

#titulo-album {
  width: 95%;
}


.album {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.albuns {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 24px;
  justify-content: center;
}

.albuns.oculto {
  display: none;
}

.fotos-album {
  display: none;
}

.fotos-album.aberto {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 24px;
  justify-content: center;
  padding: 20px;
}

.fotos-album button {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 8px 16px;
  cursor: pointer;
}

.foto {
  width: 315px;
  box-sizing: border-box;
  background: #49ef97;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
} 

@media (max-width: 600px) {
  .albuns {
    grid-template-columns: repeat(2, 190px);
  }
  .fotos-album.aberto {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    justify-content: center;
    padding: 0px;
    gap: 10px;
    row-gap: 20px;
  }
  .foto {
    width: 185px;
    height: auto;
    margin: 0px;
  }
    .foto img {
      width: 170px;
      height: 170px;
  }
  
  .album img {

    width: 100%;
    height: 50%;
  }
  #titulo-album {
    width: 93%;
  }
}


.foto img {
  display: block;
  border-radius: 8px;
}

.foto figcaption {
  margin-top: 8px;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.button_voltar {
  background-color: #14e31b;
  border: 3px solid #0e0000;
  border-radius: 100px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_voltar:hover {
  background-color: #00f400;
}
